/* COLOURS */

	.med-blue-bkg{
		background-color:$med-blue-bkg;
	}
	.lg-blue-bkg{
		background-color: $lg-blue-bkg;
	}
	.lg-yellow-bkg{
		background-color: $lgt-yellow;
	}
	.yellow-bkg{
		background-color: $yellow;
	}
	.grey-bkg{
		background-color: $grey-bkg;
	}
	.drk-grey-bkg{
		background-color: $drk-grey-bkg;
	}
