.med-blue-bkg{
	background-color:$med-blue-bkg;
}
.lg-blue-bkg{
	background-color: $lg-blue-bkg;
}
.lg-yellow-bkg{
	background-color: $lgt-yellow;
}
.yellow-bkg{
	background-color: $yellow;
}
.med-blue-bkg-op50{
	background-color:$med-blue-bkg;
	opacity:0.6;
}
