/*--------------------------------------------------------------
# Embedded Fonts
--------------------------------------------------------------*/
.blue-font{
  color: $blue-font;
}
.lg-blue-font{
  color: $lg-blue-font;
}
.green-font{
  color: $green;
}
.red-font{
  color: $red;
}
.white-font{
  color: $white;
}
.yellow-font{
  color: $yellow;
}
.grey-font{
  color: $grey;
}
