/*--------------------------------------------------------------
# Embedded Fonts
--------------------------------------------------------------*/
.blue-font{
  color: $blue-font;
}
.lg-blue-font{
  color: $lg-blue-font;
}
.green-font{
  color: $green;
}
.red-font{
  color: $red;
}
.white-font{
  color: $white;
}
.yellow-font{
  color: $yellow;
}
.grey-font{
  color: $grey;
}
.black-font{
  color: $black;
}


/*FONT SIZE */
h1{
  font-size: 2rem;
}
h2{
  font-size: 1.5rem;
}
h3{
  font-size: 1.17rem;
}
h4{
  font-size: 1rem;
}
h5{
  font-size: .83rem;
}
h6{
  font-size: .67rem;
}
p{
  font-size:.83rem;
}
