/* WIDTH */
.width-10 {
	width: 10%;
}
.width-25 {
	width: 25%;
}
.width-50 {
	width: 50%;
}
.width-75 {
	width: 75%;
}
.width-80{
	width:80%;
}
.width-100 {
	width: 100%;
}

/* PADDING */
.padding-xsm{
	padding: .1em;
}
.padding-sm{
	padding:.5em;
}
.padding-med{
	padding:1em;
}
.padding-lg{
	padding:2em;
}
.padding-xlg{
	padding:5em;
}
.padding-top-sm{
	padding-top:.5em;
}
.padding-top-med{
	padding-top:1em;
}
.padding-top-lg{
	padding-top:2em;
}
.padding-top-xl{
	padding-top:5em;
}
.padding-right-sm{
	padding-right:.5em;
}
.padding-right-med{
	padding-right:1em;
}
.padding-right-lg{
	padding-right:2em;
}
.padding-right-xlg{
	padding-right:5em;
}
.padding-left-sm{
	padding-left:.5em;
}
.padding-left-med{
	padding-left:1em;
}
.padding-left-lg{
	padding-left:2em;
}
.padding-left-xlg{
	padding-left:5em;
}
.padding-bottom-sm{
	padding-bottom:.5em;
}
.padding-bottom-med{
	padding-bottom:1em;
}
.padding-bottom-lg{
	padding-bottom:2em;
}
.padding-bottom-xlg{
	padding-bottom:5em;
}
.padding-side-sm{
	padding: 0 1em 0 1em;
}
.contact-padding{
	padding:2em 5em 2em 5em;
}
.home-padding{
	padding:3em 1em 3em 1em;
}

/* MARGIN */
.margin-top-med{
	margin-top: 2em;
}
.margin-bottom-med{
	margin-bottom: 2em;
}
