@media only screen and (min-width: 600px) {
	.absolute{
	  position: absolute;
	}
	.home-banner{
		height:80vh;
	}
	.d-white-font{
		color:$white;
	}
	.res-banner{
	  height: 80vh;
	}
	.d-hide{
		display:none;
	}
	.d-show{
		display:block;
	}
	.width-40{
		width: 40%;
	}
	.width-30{
		width:30%
	}
	.d-width-75{
		width: 75%;
	}
	.d-width-25rem{
		width:25rem;
	}
/* Residential page */
.d-direction-row-reverse{
	flex-direction: row-reverse;
}
.d-direction-row{
	flex-direction: row;
}
.res-wrap{
	flex-wrap: nowrap;
}
.d-text-start{
	text-align: start;
}
.d-text-end{
	text-align: end;
}
.d-text-center{
	text-align:center;
}
.hideservices{
display:block;
}
}
@media only screen and (min-width: 1000px) {

}
