@media only screen and (min-width: 600px) {
	.absolute{
	  position: absolute;
	}
	.home-banner{
		height:80vh;
	}
	.d-white-font{
		color:$white;
	}
	.res-banner{
	  height: 80vh;
	}
	.d-hide{
		display:none;
	}
	.d-show{
		display:block;
	}
	.width-40{
		width: 40%;
	}
	.width-30{
		width:30%
	}
	.d-width-75{
		width: 75%;
	}
}
@media only screen and (min-width: 1000px) {

}
