@media only screen and (min-width: 600px) {
	.menu-toggle {
		display: none;
	}
	.d-width-auto{
		width:auto;
	}
	.menu-item{
	padding: 1rem;
	}
	#primary-menu{
		display: flex!important;
		flex-direction: row;
		justify-content: center;
	}
	.menu-item-223{
		background-color:$yellow;
		a {
			color: white;
		}
		a:visited{
			color:white;
		}
	}
	.menu-menu-1-container{
		display:block!important;
	}
	.sub-menu{
		position: absolute;
		top: 50px !important;
		left: 10px;
		background-color: $lg-blue-bkg;
	}
	.order-2{
		order:2;
	}
	.order-3{
		order:3;
	}
	.menu-menu-1-container{
	background-color: $white;
	justify-content:space-between;
	display:flex;
	}
	.myDropdown {
		display:none;
	}
	.absolute{
	  position: absolute;
	}
	.home-banner{
		height:80vh;
	}
	.d-white-font{
		color:$white;
	}
	.res-banner{
	  height: 80vh;
	}
	.d-hide{
		visibility:hidden;
	}
	.d-show{
		display:block;
	}
	.width-40{
		width: 40%;
	}
	.width-30{
		width:30%
	}
	.d-width-75{
		width: 75%;
	}
	.d-width-25rem{
		width:25rem;
	}
	.d-width-75{
		width:75%;
	}
	.d-width-25{
		width:25%;
	}
	.d-width-15{
		width:15%;
	}
  /* Residential page */
  .d-direction-row-reverse{
    flex-direction: row-reverse;
  }
  .d-direction-row{
    flex-direction: row;
  }
  .d-direction-column{
    flex-direction: column;
  }
  .res-wrap{
    flex-wrap: nowrap;
  }
  .d-text-start{
    text-align: start;
  }
  .d-text-end{
    text-align: end;
  }
  .d-text-center{
    text-align:center;
  }
  .hideservices{
  display:block;
  }
	.icon-home{
	  width: auto;
	}
	.subtitle-padding{
		padding:0 1em 0 1em;
	}
	.med-blue-bkg-50{
		background: linear-gradient(rgba(50,105,138,0.6),
		rgba(50,105,138,0.6));
	}
	#wpcf7-f55-p41-o1{
		width: 45rem;
	}


	/*FONT SIZE */
	h1{
	  font-size: 3rem;
	}
	h2{
	  font-size: 2.5rem;
	}
	h3{
	  font-size: 2.17rem;
	}
	h4{
	  font-size: 2rem;
	}
	h5{
	  font-size: 1.67rem;
	}
	h6{
	  font-size: 1rem;
	}
	p{
		font-size:1rem;
	}
}
@media only screen and (min-width: 1000px) {

}
